<footer>
    <div id="footer">
        <div class="container">
            <div class="logo">
                <img src="https://picsum.photos/57/52?random=1" alt="otito" />
            </div>
            
            <div class="copyright">
                <div class="title">&copy; Otito 2020.</div>
            <div class="subtitle">It is our pleasure to serve you</div>
            </div>
            <div class="newsletter-container">
                <form action="" class="newsletter-form">
                    <input type="text" class="newsletter-input" placeholder="Email to subscribe">
                    <button class="newsletter-btn" type="submit">
                        <i class="fas fa-envelope"></i>
                    </button>
                </form>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fab fa-reddit"></i></a></li>
                </ul>
            </div>    
        </div>
    </div>   
    <a href="#hero" id="go-top"><i class="fas fa-chevron-up"></i></i></a>
</footer>
</body>
</html>