
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="/" class="logo"><img src="https://picsum.photos/100/150" alt="" ></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#menu" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="/views/reservation" class="nav-link">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Contact</a>
                    </li>
                    <li class="boundary"></li>
                    <li class="nav-item">
                        <a href="/user/login" class="nav-link">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/signup" class="nav-link">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header ends -->