<%- include('partials/head')%>

<%- include('partials/navbar')%>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">W</span>elcome
            </h2>
            <h1 class="headline" style="color:white">Otito</h1>
            <div class="headline-description">
                <div class="separator">
                    <div class="line line-left"></div>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                        <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5> Ready to serve</h5>
                    <a href="#" class="btn cta-btn">Explore</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero ends -->
    <section class="discover-our-story">
        <div class="container">
            <div class="restaurant-info">
                <div class="restaurant-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">D</span>iscover
                        </h2>
                        <h1 class="headline headline-dark">Our story</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                    </p>
                    <a href="#" class="btn body-btn">About us</a>
                </div>
                <div class="restaurant-info-img animate-right">
                    <img src="https://picsum.photos/400/400?random=2">
                </div>
            </div>
        </div>
    </section>
    <!-- Discover our story ends -->
    <section class="tasteful-recipes between">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">T</span>asteful
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h1 class="headline" style="color:white">Recipes</h1>
                </div> 
            </div>
        </div>
    </section>
    <!-- Tasteful recipes ends -->
    <section class="discover-our-menu" id="menu">
        <div class="container">
            <div class="restaurant-info">
                <div class="image-group padding-right animate-left">
                    <img src="https://picsum.photos/400/400?random=1" alt="menu01.jpg">
                </div>
                <div class="restaurant-description animate-right">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">D</span>iscover
                        </h2>
                        <h1 class="headline headline-dark">Menu</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    </p>
                    <a href="" class="btn body-btn">View the full menu</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Discover our menu ends -->
    <section class="perfect-blend between">
        <div class="container">
            <div class="global-headline">
                <div class="animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">T</span>he Perfect
                    </h2>
                </div>
                <div class="animate-bottom">
                    <h1 class="headline" style="color:white">Blend</h1>
                </div> 
            </div>
        </div>
    </section>
    <!-- Perfect blend ends -->
    <section class="culinary-delight" id="culinarydelight">
        <div class="container">
            <div class="restaurant-info">
                <div class="restaurant-description padding-right animate-left">
                    <div class="global-headline">
                        <h2 class="sub-headline">
                            <span class="first-letter">C</span>ulinary
                        </h2>
                        <h1 class="headline headline-dark">Delight</h1>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    </p>
                    <a href="#" class="btn body-btn">Make a reservation</a>
                </div>
                <div class="image-group">
                    <img class="animate-top" src="https://picsum.photos/400/200?random=2" alt="">
                    <img class="animate-bottom" src="https://picsum.photos/400/200?random=1" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Culinary delight ends -->
<%- include('partials/footer')%>