<%- include('partials/head')%>

<%- include('partials/navbar')%>

<!-- action.js for backend node.js function -->
 <div id="login">
     <form action="/user/login" method="POST" class="login">
        <h1>LOG IN</h1>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" placeholder="Submit">
     </form>
 </div>


