<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div id="signup">
    <form action="/user/signup" class="signup" method="POST">
       <h1>SIGN UP</h1>

       <input type="text" name="email" placeholder="email address" />
       <input type="password" name="password" placeholder="password" />
       <input type="submit" placeholder="Submit">
    </form>
</div>


