@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
/* header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boundary:after {
  color: #fff;
  content: "|";
  padding: 0 12px;
}
.menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}
.fa-times {
  display: none;
}
.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
}
.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}
.open .fa-times {
  display: block;
}
.open .fa-bars {
  display: none;
}
.open .nav-list {
  transform: translateX(0);
}
.open .nav::before {
  opacity: 1;
  transform: scale(1);
}
.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 3);
}
.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color.5s;
}
.nav-link:hover {
  color: var(--secondary-font-color);
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("https://picsum.photos/1600/1200?random=1") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}
.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}
.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}
.headline {
  color: #fff;
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: 0.5rem;
  animation: scale 0.5s forwards;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: 0.9s;
}
.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: grow 0.5s forwards;
  animation-delay: 1.2s;
}
.line-right::before {
  border-right-color: #fff;
  right: 0;
}
.line-left::before {
  border-left-color: #fff;
  left: 0;
}
.asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 0.7s;
}
.single-animation {
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
}
.headline-description h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
.cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}
.cta-btn:hover,
.cta-btn:focus {
  color: #fff;
  background-color: var(--secondary-font-color);
}

.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}
.discover-our-story .global-headline {
  margin-top: 6.9rem;
}
.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
}
.headline {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}
.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}
.restaurant-info {
  text-align: center;
}
/* .restaurant-description {
  margin-bottom: 3rem;
} */
.restaurant-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.body-btn {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  position: relative;
  transition: color 0.5s;
}
.body-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font-color);
  transition: background-color 0.5s;
}
.tasteful-recipes {
  background: url("https://picsum.photos/1600/1200?random=1") center no-repeat;
  background-size: cover;
}
.between {
  min-height: 65vh;
  display: flex;
  align-items: center;
}
/* .discover-our-menu .restaurant-description {
  padding-top: 3rem;
  margin-bottom: 0;
} */
.perfect-blend {
  background: url("https://picsum.photos/1600/1200?random=1") center no-repeat;
  background-size: cover;
}

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

#footer {
  background: #f5f5f5;
  position: relative;
  padding: 80px 0;
}
#footer .logo {
  position: absolute;
  border: 5px solid #f5f5f5;
  padding: 20px;
  background: #fff;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#footer .copyright {
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#footer .copyright .subtitle {
  font-size: 12px;
  color: #323232;
}
#footer .social-media {
  float: right;
}
#footer .social-media li {
  float: left;
  list-style-type: none;
}
#footer .social-media a {
  display: inline-block;
  margin: 10px;
  border: 1px solid #222;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: #222;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

#go-top {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.newsletter-form {
  float:right;
  padding-top: 2%;
}

/* Media queries */
@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-link {
    font-size: 1.3rem;
  }
  .active {
    position: relative;
  }
  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
  }
  .sub-headline {
    font-size: 10rem;
  }
  .first-letter {
    font-size: 12.2rem;
  }
  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }
  .line {
    max-width: 11.4rem;
  }
  .restaurant-info {
    display: flex;
    align-items: center;
  }
  .restaurant-info > div {
    flex: 1;
  }
  .padding-right {
    padding-right: 7rem;
  }
}

/* login, signup page css */
#login, #signup {
  margin-top: 20%;
  background: url("https://picsum.photos/1600/1200?random=1") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login, .signup {
  background-color: #4e4eee;
  width: 400px;
  color: #faf9f8;
  padding: 40px;
  box-shadow: 10px 10px 25px #00000080;
  text-align: center;
  font-size: 26px;
  border-radius: 22px;
}
.signup {
  background-color: #090b91;
}

.login input, .signup input {
  display: block;
  margin: 20px auto;
  text-align: center;
  background: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
  color: #f8f9fa;
}

.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"]
 {
  border: 2px solid #3498db;
  width: 220px;
}

.login input[type="submit"], .signup input[type="submit"] {
  width: 150px;
  border: 2px solid #3ecc71;
  cursor: pointer;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus,
.signup input[type="text"]:focus,
.signup input[type="password"]:focus  {
  border-color: #2ecc71;
  width: 280px;
  transition: 0.4s;
}

.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
  background-color: #2ecc71;
  transition: 0.5s;
}
